* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

#menu-container {
    background-image: linear-gradient(to right, rgb(5, 5, 74), rgb(4, 4, 92), rgb(6, 6, 101));
    padding: 20px;
    color: white;
    border-bottom: 2px solid white;
}

#menu-list {
    display: flex;
    gap: 26px;
    list-style: none;
    align-items: baseline;
}

.logo {
    flex-grow: 1;
}

.item:hover {
    transform: scale(1.2);
    transition: transform 0.4s;
    cursor: pointer;
}

#principal {
    display: flex;
    background-image: url(../image/—Pngtree—abstract\ background\ technology\ of\ data_1316468.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.svg-rede {
    width: 350px;
    height: 350px;
}

.title {
    width: 400px;
    height: auto;
}

.title-main {
    font-size: 3em;
    color: white;
}

.texto {
    position: relative;
    color: rgb(162, 161, 161);
    text-align: justify;
    margin-top: 5%;
}

.svg-banco {
    width: 50px;
    height: 50px;
    filter: invert(70%);
}

.svg-nuvem {
    height: 50px;
    width: 50px;
    filter: invert(70%);
}

.svg-speed {
    height: 50px;
    width: 50px;
    filter: invert(70%);
}

.item-complemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#complemento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, rgb(6, 6, 84), rgb(6, 6, 108), rgb(7, 7, 121));
    padding: 1.25em; 
    color: white;
}

.premimum-svg {
    width: 20px;
    height: 20px;
}

.about {
    margin: 5px 0px 0px 0px;
    text-align: center;
    color: darkgrey
}

#rodape {
    background-color:rgba(2, 32, 66, 0.899);
    color: white;
    padding: 1em 0px;
}

.rodape-list {
    display: flex;
    gap: 26px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.rodape-logo {
    font-size: 2em;
}

.copy {
    font-style: italic;
    font-size: 14px;
}

.explicação {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(107, 107, 107)
}

.item-complemento {
    opacity: 0;
    animation: appear 3s forwards;
    mix-blend-mode: normal;
}

#icon {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-50px)
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    
    #principal {
        display: flex;
        flex-direction: column;
        background-image: url(../image/—Pngtree—abstract\ background\ technology\ of\ data_1316468.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 600px;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
}

    .svg-rede {
        width: 330px;
        height: 330px;
}

    .title {
        order: -1;
    }

    .title-main {
        text-align: center;
    }
}

@media (max-width: 670px){
    #complemento {
        flex-direction: column;
        gap: 20px;
    }

    .item-complemento {
        flex-direction: column;
        width: 500px;
        height: 250px;
    }
    
}

@media (max-width: 536px){
    .item-complemento {
        width: 400px;
    }
}

@media (max-width: 470px){
    .svg-rede {
        width: 300px;
        height: 300px;
    }

    .title-main {
        font-size: 2em;
    }

    .texto {
        font-size: 0.87em;
    }

    .item {
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        background-color: rgba(0, 119, 255, 0);
    }
}

@media (max-width: 420px){

    #icon {
        display: block;
        text-align: center;
        font-size: 30px;
        cursor: pointer;
    }

    #menu {
        display: none;
        margin: 5px;
    }

    .title {
        width: 300px;
    }

    .item-complemento {
        width: 300px;
    }

    .rodape-list {
        flex-direction: column;
    }

    .copy {
        order: 2;
    }

    .rodape-logo {
        order: -1;
    }

    .contato {
        order: 1;
    }

    .logo {
        display: none;
    }
    
    .item {
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        background-color: rgb(0, 119, 255);
    }
}   