@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#principal {
  background-image: url(../image/gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  background-color: #081C4A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
}
#header #list-header {
  list-style: none;
  display: flex;
  gap: 1.25em;
  align-items: center;
}
#header #list-header .item-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
#header #list-header .item-header:hover {
  background-color: #284878;
  border-radius: 1.25em;
}
#header #list-header .svg-list {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}
#header .svg {
  width: 20px;
  height: 20px;
}
#header #logo-header {
  width: 30px;
  height: 30px;
  transition: 0.9s;
}
#header #logo-header:hover {
  transform: scale(1.1);
}
#header #nuvem {
  position: relative;
}
#header #cloud_storage_list {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  background-color: #284878;
  padding: 2em;
  width: 200px;
  top: 110%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#header #cloud_storage_list .item-cloud {
  padding: 0.56em;
}
#header hr {
  width: 100px;
}
#header #side {
  background-color: #081C4A;
  position: absolute;
  height: 100vh;
  top: 0;
  left: -100%;
  width: 25vw;
  padding: 1.5em;
  z-index: 2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#header #side #sidebar {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
#header #side .item-side {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
#header #side .item-side:hover {
  background-color: #284878;
  border-radius: 0.56em;
}
#header #side .svg-side {
  width: 40px;
  height: 40px;
}
#header #next {
  display: none;
  background-color: transparent;
  border: none;
}
#header #next .svg-prev {
  width: 25px;
  height: 25px;
}
#header #next:active {
  position: relative;
  top: 2px;
}
#header #side-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#header #prev {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}
#header #prev:active {
  position: relative;
  top: 2px;
}
#header #svg-prev {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  #header #next {
    display: block;
  }
  #header #itens-header {
    display: none;
  }
  #header #side {
    width: 30vw;
  }
  #header #side .item-side {
    font-size: 0.8em;
  }
}
@media (max-width: 425px) {
  #header #side {
    width: 35vw;
  }
  #header #side .svg-side {
    width: 30px;
    height: 30px;
  }
  #header #side .item-side {
    font-size: 0.8em;
  }
}

@-webkit-keyframes visible {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes visible {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes hidden {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes hidden {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
#principal {
  display: flex;
  color: white;
  flex-direction: column;
}
#principal #main-content {
  display: flex;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}
#principal #main-content #descrição {
  width: 400px;
}
#principal #main-content #descrição h1 {
  font-weight: bold;
  font-size: 3em;
}
#principal #main-content #descrição p {
  text-align: justify;
  line-height: 1.5em;
}
#principal #main-content #main-img {
  width: 800px;
}
#principal #main-content #main-img #img-principal {
  width: 100%;
}
#principal #cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #081C4A;
  padding: 2em;
}
#principal #cards .cards-net {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.56em;
  background-color: white;
  color: darkgray;
  padding: 1em;
  border-radius: 1.25em;
  height: 200px;
}
#principal #cards .cards-net .card-info {
  line-height: 1.5em;
}
#principal #cards .cards-net .card-svg {
  width: 40px;
  height: 40px;
}
#principal #more-info {
  display: flex;
  width: 100%;
  background-color: white;
  color: black;
  justify-content: space-around;
  align-items: center;
}
#principal #more-info #more-description {
  text-align: justify;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
#principal #more-info #more-title-2 {
  font-size: 1em;
}
#principal #more-info #more-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#principal #more-info #more-other {
  width: 500px;
  line-height: 1.5em;
}
#principal #more-info #more-img {
  width: 500px;
  height: 450px;
}
#principal #more-info #more-title {
  font-size: 1.5em;
}
#principal #duvidas {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  align-items: center;
  background-color: #081C4A;
  padding: 2em 0;
}
#principal #duvidas h1 {
  text-align: center;
}
#principal #duvidas .card-duvida {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #153486;
  width: 700px;
  padding: 2em;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}
#principal #duvidas .button-click {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#principal #duvidas .hidden-about {
  display: none;
  position: relative;
  bottom: 35px;
  width: 700px;
  padding: 1.5em;
  background-color: #284878;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
}
#principal #duvidas .hidden-about .hidden-about-text {
  line-height: 1.5em;
  text-align: justify;
}
@media (max-width: 1024px) {
  #principal #main-content #descrição {
    width: 300px;
  }
  #principal #main-content #descrição h1 {
    font-size: 2em;
  }
  #principal #main-content #main-img {
    width: 600px;
  }
}
@media (max-width: 768px) {
  #principal #main-content #main-img {
    width: 450px;
  }
  #principal #main-content #descrição {
    width: 200px;
  }
  #principal #main-content #descrição p {
    font-size: 14px;
  }
  #principal #main-content #descrição h1 {
    font-size: 1.5em;
  }
  #principal #more-info {
    padding: 5px;
  }
  #principal #more-info #more-img {
    height: 350px;
    width: 400px;
  }
  #principal #more-info #more-description {
    width: 300px;
  }
  #principal #more-info #more-other {
    width: 100%;
  }
}
@media (max-width: 425px) {
  #principal #duvidas {
    display: none;
  }
  #principal #more-info {
    flex-direction: column;
  }
  #principal #more-info #more-img {
    width: 300px;
    height: 250px;
  }
  #principal #more-info #more-description {
    padding: 10px;
  }
  #principal #main-content {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  #principal #main-content #main-img {
    width: 320px;
  }
  #principal #cards {
    flex-direction: column;
    gap: 20px;
  }
  #principal #cards .cards-net {
    width: 250px;
  }
}

#rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #284878;
  padding: 1em 1em;
  color: white;
}
#rodape .footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#rodape .footer-div h2 {
  font-size: 1.5em;
}
#rodape .footer-div #list-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 0.8em;
  gap: 0.56em;
}
#rodape .footer-div #list-footer a:link {
  color: skyblue;
}
#rodape #coffe-footer {
  width: 70px;
  height: 70px;
}
@media (max-width: 425px) {
  #rodape #coffe-footer {
    width: 40px;
    height: 40px;
  }
  #rodape .footer-div h2 {
    font-size: 1em;
  }
  #rodape .footer-div #list-footer {
    font-size: 0.6em;
  }
}/*# sourceMappingURL=import.css.map */