* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

#principal {
    background-image: url(../image/gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
}

//Variáveis 

$color-1: #081C4A;
$color-2: #153486;
$color-3: #284878;
$color-4: #fff;

//Mexin
$large: 1024px;
$medium: 768px;
$small: 425px; 

@mixin responsive($break) {
    @if $break == large {
        @media (max-width: $large) {
            @content;
        }
    }
    @else if $break == medium {
        @media (max-width: $medium) {
            @content;
        }
    } @else if $break == small {
        @media (max-width: $small) {
            @content;
        }
    }
}

@import 'header';
@import 'main';
@import 'footer';